<a href="https://colab.research.google.com/github/liliakurghinyan/efes/blob/main/efes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

Importing data here.

In [ ]:
df_efes = pd.read_excel('/content/efes.xlsx')
df_efes

   Subcontract_number  Gender       Type      Birth     Fee
0        CM001720-803  Արական  աշխատակից 1975-01-09    4940
1        CM001720-804  Արական  աշխատակից 1990-05-25    4940
2       CM002541-2850  Իգական      երեխա 2001-11-21   32830
3            CM900172  Իգական       ծնող 1966-12-06   73880
4       CM001069-4548  Իգական  աշխատակից 2002-07-30    6620
5       CM001069-4549  Արական       ծնող 1976-10-28    9350
6        CM001237-323  Իգական  աշխատակից 2002-05-28   34370
7        CM001237-324  Իգական  աշխատակից 1985-04-30   34370
8        CM001237-325  Արական  աշխատակից 2001-06-24   34370
9        CM001237-326  Իգական  աշխատակից 2003-08-31   34370
10       CM001237-327  Իգական  աշխատակից 1996-11-23   34370
11         CM002650-1  Արական  աշխատակից 1975-05-27  282000
12         CM002650-2  Իգական  աշխատակից 1979-01-05  282000
13       CM001720-808  Արական  աշխատակից 1975-01-09  282000

Now lets do the asked questions. 1. Let's search how many subcontracts here we have.

In [ ]:
(df_efes['Subcontract_number'].str.len() > 8).sum()

13

2. How many Contracts do we have here. (If I got it right)

In [ ]:
df_efes['Contract'] = df_efes['Subcontract_number'].str[:8]
df_efes['Contract'].nunique()

6

3. How much Fee for female customers.

In [ ]:
df_efes[df_efes['Gender']=='Իգական']['Fee'].sum()

532810

4. How much fee did we pay for CM001720 contract.

In [ ]:
df_efes[df_efes['Subcontract_number'].str[:8]=='CM001720']['Fee'].sum()

291880

5. How much fee did we pay for male gender and the ones whose age is equal or less 35.

In [ ]:
from datetime import date
todays_date = date.today()
df_efes['Age'] = todays_date.year - df_efes['Birth'].dt.year
filtered_df = df_efes.loc[(df_efes['Gender']=='Արական') & (df_efes['Age']<= 35)]
total_fee = filtered_df['Fee'].sum()
total_fee

39310

6. How much is CM001069-4548 this contract's Fee.

In [ ]:
print(df_efes[df_efes['Subcontract_number']=='CM001069-4548']['Fee'])

4    6620
Name: Fee, dtype: int64